.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrap {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  }
.wrap li {
  list-style: none;
  line-height: 40px;
  background-image: linear-gradient(to right, #9795f0 0%, #fbc8d4 );
  text-align: left;
  padding: 0 20px;
}
.wrap li button {
  float: right;
  color: #fff;
  border: none;
}
.header {
  background-image: linear-gradient(to right, #9795f0 0%, #fbc8d4 );
  padding: 10px 0;
  border-radius: 5px;
}
.header h1 {
  color: #fff;
  font-size: 32px;
}
.header input {
  width: 70%;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 30px;
  margin-bottom: 10px;
}
.header button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #fff;
  color: #fbc8d4;
  font-size: 24px;
  font-weight: bold;
  margin-left: 8px;
}
